@use '../../variables.scss' as *;

.lending {
   .statistics {
      height: initial;
      padding: 40px 16px;
      flex-direction: column;
      gap: 16px;

      .block {
         gap: 2px;

         .quantity {
            font-size: 24px;
         }

         .indicator {
            font-size: 14px;
         }
      }
   }
}