@use '../../variables.scss' as *;

.modal-overlay {
   .modal {
      border-radius: 15px;
      padding: 40px 20px;

      .modal-close {
         position: absolute;
         top: 15px;
         right: 15px;
      }

      .modal-header {
         margin-bottom: 32px;

         h5 {
            font-size: 24px;
            margin-bottom: 12px;
         }
   
         p {
            font-size: 16px;
         }
      }

      .modal-form {
         .field {
            margin: 0 auto 32px;

            .small-text {
               font-size: 18px;
               margin-bottom: 3px;
            }

            input {
               font-size: 18px;
               letter-spacing: 1px;
               border-radius: 15px;
               padding: 10px 40px 10px 20px;

               &[type="password"] {
                  height: 47px;
                  font-size: 41px;
                  padding: 0 50px 6px 24px;
               }

               &::placeholder {
                  font-size: 18px;
               }
            }

            .toggle-password {
               top: 37px;
               right: 10px;
               
               #eye {
                  width: 20px;
               }
            }
   
            .info-lock {
               font-size: 14px;
               margin-top: 6px;
   
               .warning {
                  margin-bottom: 3px;
   
                  img {
                     width: 20px;
                     margin-right: 6px;
                  }
   
                  .enter-correct {
                     font-size: 14px;
                  }
               }
            }
         }

         .btn-primary {
            font-size: 18px;
            padding: 11px 40px;
            margin-top: 10px;
         }

         .no-account {
            margin-bottom: 40px;

            .small-text {
               font-size: 18px;
               margin-right: 6px;
            }

            a {
               font-size: 18px;
            }
         }
      }

      &.step-success-message {
         h5 {
            font-size: 24px;
            margin-bottom: 32px;
         }
   
         .btn {
            font-size: 18px;
            padding: 11px 61px;
         }
      }
   }
}