@use '../../variables.scss' as *;

.registration {
   margin: 0 8px;

   .logo {
      width: 145px;
      height: 48px;
      border-radius: 32px;
      padding: 8px;
      margin: 10px;

      img {
         width: 24px;
         height: 24px;
         margin-right: 8px;
      }

      .name {
         font-size: 18px;
         padding-top: 3px;
      }
   }

   h5 {
      font-size: 24px;
      margin-bottom: 20px;
   }

   form {
      margin: 0 auto 150px;

      fieldset {
         margin-bottom: 24px;

         .field {
            margin-bottom: 18px;
            
            .small-text {
               font-size: 16px;
            }
            
            input {
               font-size: 18px;
               letter-spacing: 1px;
               border-radius: 15px;
               padding: 10px 40px;
               
               &:focus {
                  outline: 1px solid $blue70;
               }

               &.name {
                  background: url("assets/img/person.svg") no-repeat 12px center;
                  background-size: 18px 18px;
               }

               &.email {
                  background: url("assets/img/pencil.svg") no-repeat 12px center;
                  background-size: 18px 18px;
               }

               &.password,
               &.repeat-password {
                  background: url("assets/img/lock.svg") no-repeat 12px center;
                  background-size: 18px 18px;
               }

               &.error {
                  outline: 1px solid $red;
               }
            }

            &.password-field {
               input {                 
                  &[type=password] {
                     height: 47px;
                     font-size: 32px;
                     padding: 0 40px 6px;
                  }
               }

               .toggle-password {
                  top: 40px;
                  right: 10px;
                  padding: 5px;

                  #eye {
                     width: 20px;
                  }
               }
            }

            .info-lock {
               .warning {
                  margin: 6px 0 3px;

                  img {
                     width: 18px;
                     margin-right: 5px;
                  }
               }

               p {
                  font-size: 14px;
               }
            }
         }
      }

      .btn {
         &.btn-primary {
            font-size: 18px;
            padding: 10px 50px;
         }
      }
   }
}

.profile-success-create {
   .login-modal {
      border-radius: 24px;
      padding: 40px 18px;
        
      h5 {
         font-size: 24px;
         margin-bottom: 32px;
      }

      .btn {
         font-size: 16px;
         padding: 13px 48px;
      }
   }
}