.tracker {
   .title-block {
      text-align: center;
      margin: 0 20px 20px;

      .title {
         margin-bottom: 8px;
      }

      .small-text {
         margin-bottom: 20px;
      }

      .find-vacancy {
         font-size: 14px;
         background: url("assets/img/search.svg") no-repeat 16px center;
         background-size: 16px 16px;
         border-radius: 39px;
         padding: 13px 16px 13px 42px;

         &::placeholder {
            font-size: 14px;
         }
      }
   }

   .status-board {
      gap: 12px;
      padding: 0 20px 40px;

      .status-column {
         .status-header {
            border-radius: 15px;
            padding: 10px;
            margin-bottom: 16px;

            .status-count {
               width: 25px;
               height: 30px;
               font-size: 13px;
               padding: 5px;
            }
         }

         .status-cards {
            max-width: 220px;
            
            .swiper-slide {
               max-height: 150px;
               border-radius: 20px;
               padding: 16px 8px;
               margin-bottom: 16px;
            }
         }
      }
   }
}