@use 'variables' as *;

.enter-the-site {
   .logo {
      margin: 20px 40px;
   }
   
   h5 {
      text-align: center;
      margin-bottom: 40px;
   }
   
   form {
      width: 523px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto 230px;

      fieldset {
         width: 100%;
         display: flex;
         flex-direction: column;
         margin-bottom: 40px;

         .field {
            width: 100%;
            margin-bottom: 24px;
            
            .small-text {
               font-weight: 500;
               text-align: left;
               margin-bottom: 4px;
            }
            
            input {
               width: 100%;
               font-size: 20px;
               line-height: 1.5;
               letter-spacing: 2px;
               outline: 0.5px solid $grey-blue60;
               border: none;
               border-radius: 20px;
               padding: 13px 24px;
               cursor: pointer;
               
               &::placeholder {
                  font-family: $font-primary;
                  font-size: 20px;
                  color: $grey-blue60;
               }
               
               &:hover {
                  outline: 1px solid $blue70;
               }
               
               &:focus {
                  outline: 2px solid $blue70;
                  
                  &::placeholder {
                     font-size: 20px;
                     color: $grey-blue60;
                  }
               }
            }

            &.password-field {
               position: relative;
               width: 100%;
             
               input {
                  padding-right: 50px;
                  margin-bottom: 8px;

                  &[type="password"] {
                     height: 56px;
                     font-size: 48px;
                     line-height: 1;
                     padding: 0 50px 6px 24px;
                  }
               }
             
               .toggle-password {
                  position: absolute;
                  top: 46px;
                  right: 16px; // відступ від правого краю
                  border: none;
                  background: none;
                  cursor: pointer;
                  padding: 6px;
             
                  img {
                     width: 24px;
                     height: 24px;
                  }
               }
            }
         }
         
         .incorrect-and-forgot-password {
            position: relative;
            height: 24px;

            .incorrect {
               display: none;
               align-items: center;
               
               img {
                  width: 24px;
                  height: 24px;
                  margin-right: 8px;
               }
               
               .small-text {
                  font-size: 16px;
                  color: $red;
                  text-align: left;
               }
            }
   
            .forgot-password {
               position: absolute;
               top: 0;
               right: 0;
               color: $secondary-color;
               text-decoration: underline;
               display: flex;
               justify-content: right;
               margin-left: auto;
   
               &:hover {
                  font-weight: 500;
                  color: $primary-color;
                  cursor: pointer;
               }
            }
         }
      }
      
      .no-account {
         display: flex;
         justify-content: center;
         margin-bottom: 60px;

         .small-text {
            font-weight: 500;
            margin-right: 8px;
         }

         a {
            font-size: 20px;
            font-weight: 500;
            color: $primary-color;

            &:hover {
               font-weight: 600;
            }
         }
      }
   }
   
   .btn {
      &.btn-primary {
         padding: 16px 128px;
      }
  }
}