@use 'variables' as *;

html {
   font-size: 16px;
   /* 1rem = 16px */
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

img,
.icon-svg {
   width: 100%;
   height: auto;
}

body {
   // max-width: 1619px;
   min-height: 100vh;
   font-family: $font-primary;
   color: $primary-color;
   line-height: 1.5;
   background-color: #fff;
   margin: 0 auto;
}

button,
input,
select,
textarea {
   font-family: inherit; // Наследовать шрифт от body
   color: inherit; // Наследовать цвет от body
}

a {
   text-decoration: none;
   transition: 0.3s;

   &:hover {
      color: #000;
   }
}

h1 {
   font-size: 72px;
   font-weight: 700;
   line-height: 1.22;
}

h2 {
   font-size: 64px;
   font-weight: 700;
   line-height: 1.22;
}

h3 {
   font-size: 40px;
}

h4 {
   font-size: 36px;
   font-weight: 700;
   line-height: 1.22;
}

h5 {
   font-size: 30px;
   font-weight: 700;
   line-height: 1.27;
}

.container {
   width: 100%;
   max-width: 100%;
   margin: 0 auto;
   padding: 0 12px;
}

.logo {
   width: 206px;
   height: 64px;
   display: flex;
   align-items: center;
   border-radius: 48px;
   padding: 16px;
   
   &:hover {
      border: 0.5px solid $grey-blue30;
      background-color: $blue20;
   }

   img {
      width: 32px;
      height: 32px;
      margin-right: 12px;
   }

   .name {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.33;
      color: $primary-color;
   }
}

.btn {
   display: inline-block;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.5;
   text-decoration: none;
   white-space: nowrap;
   border-radius: 31px;
   cursor: pointer;
   
   &.btn-primary {
      border: none;
      color: #fff;
      background-color: $blue70;

      &:hover {
         background: linear-gradient(to right, #75AAFF 0%, #2D71DF 28%, #0D4CB1 64%, #001f51 100%);
         outline: none;
      }

      &:disabled {
         background-color: #1D5BBF;
         opacity: 0.7;
         cursor: not-allowed;
         pointer-events: none;
      }
   }

   &.btn-secondary {
      color: $grey-blue90;
      background-color: inherit;
      border: none;
      outline: 0.5px solid $secondary-color;

      &:hover {
         outline: 2px solid $blue70;
      }
   }

   &:focus,
   &:active:focus {
      box-shadow: none;
   }
}

.text {
   font-size: 24px;
   line-height: 1.33;
   color: $secondary-color;
}

.small-text {
   font-size: 20px;
   line-height: 1.5;
   color: $secondary-color;
}