@use 'variables' as *;

header {
	padding: 40px 0 60px;

	.container {
		.header-nav {
			background-color: $grey-blue10;
			border-radius: 58px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 40px;
			padding: 8px 40px;
			margin: 0 40px;
		}

		.pages {
			display: flex;
			gap: 40px;

			.page {
				display: flex;
				align-items: center;

				img {
					width: 24px;
					height: 24px;
					margin-right: 8px;
				}

				&.active {
					background-color: $grey-blue20;
					outline: 1px solid $grey-blue30;
					border-radius: 32px;
					padding: 16px 24px;
				}

				&:hover {
					.text {
						font-weight: 600;
					}
				}
			}
		}
	}
}