@use 'variables' as *;

.lending {
   header {
      width: 100%;
      height: 136px;
      padding: 40px;
      margin-bottom: 104px;
      
      nav {
         height: 56px;
         display: flex;
         align-items: center;
         justify-content: space-between;

         .btns {
            height: 100%;
            text-align: center;
            display: flex;
            gap: 24px;

            .btn {
               padding: 13px 37px;

               &.btn-secondary {
                  width: 190px;
               }
            }
         }
      }
   }

   .service {
      margin-bottom: 240px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 0 40px;

      .description,
      .picture {
         flex: 1; // обидва займуть однакову ширину
      }

      .description {         
         .subtitle {
            height: 40px;
            display: flex;
            align-items: center;
            padding: 8px 31px;
            margin-bottom: 24px;
            
            img {
               width: 18px;
               height: 18px;
               margin-right: 8px;
            }
            
            .subtext {
               font-size: 16px;
               color: $blue80;
            }
         }
         
         h1 {
            margin-bottom: 16px;
            
            span {
               color: $blue80;
            }
         }
         
         .text {
            margin-bottom: 40px;
         }

         .btn {
            padding: 16px 30px;

            svg {
               width: 24px;
               height: 24px;
               vertical-align: middle;
               margin: 0 4px 2px 0;
            }
         }
      }
      
      .picture {
         display: flex;
         justify-content: center;
         align-items: center;
         
         img {
            max-height: 377px;
         }
      }
   }

   .statistics {
      width: 100%;
      height: 256px;
      color: #fff;
      background-color: $blue80;
      padding: 80px 40px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 240px;

      .block {
         display: flex;
         flex-direction: column;
         text-align: center;
         gap: 8px;

         .quantity {
            font-size: 48px;
            font-weight: 700;
            line-height: 1.2;
         }
   
         .indicator {
            font-size: 20px;
         }
      }
   }

   .career {
      margin-bottom: 180px;

      .header {
         text-align: center;
         margin-bottom: 60px;
         
         h2 {
            margin-bottom: 24px;
         }
      }

      .table {
         display: flex;
         justify-content: center;
         
         .part {
            text-align: center;
            border-radius: 60px;
            padding: 60px 24px;

            &:hover {
               background-color: $blue10;
            }

            .icon {
               margin-bottom: 24px;

               img {
                  width: 70px;
                  height: 70px;
               }
            }

            h3 {
               font-weight: 600;
               margin-bottom: 16px;
            }
         }
      }
   }

   .how-works {
      max-width: 881px;
      text-align: center;
      margin: 0 auto 228px;

      h2 {
         font-weight: 600;
         margin-bottom: 24px;
      }

      .text {
         margin-bottom: 60px;
      }

      .instraction {
         .step {
            width: 100%;
            height: 108px;
            background-color: $blue80;
            border-radius: 60px;
            display: flex;
            align-items: center;
            padding: 40px;
            margin-bottom: 40px;

            &:hover {
               height: 120px;
               background: linear-gradient(to right, #75AAFF 4%, #2D71DF 28%, #0D4CB1 52%, #001F51 100%);
               transition: 0.4s;
            }

            .number {
               width: 60px;
               height: 60px;
               font-size: 30px;
               line-height: 1.67;
               background-color: #fff;
               border-radius: 50%;
               padding-top: 5px;
               margin-right: 24px;
            }

            h5 {
               font-weight: 400;
               color: #fff;
            }
         }
      }
   }

   .free-registration {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 240px;

      h2 {
         max-width: 935px;
         margin-bottom: 24px;

         span {
            color: $blue80;
         }
      }

      .text {
         max-width: 732px;
         margin-bottom: 40px;
      }

      .btn {
         padding: 16px 31px;
      }
   }

   .copyright {
      height: 110px;
      font-size: 20px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}