@use 'variables' as *;

.main-page {
   .greeting {
      margin: 0 40px 60px;

      .title {
         display: flex;
         align-items: center;
         margin-bottom: 16px;

         h3 {
            font-weight: 700;
         }

         img {
            width: 60px;
            height: 60px;
            margin: -16px 0 0 11px;
         }
      }
   }

   .activities {
      display: flex;
      justify-content: space-evenly;
      margin: 0 40px 60px;

      .item {
         width: 277px;
         text-align: center;
         background-color: $blue10;
         border-radius: 60px;
         padding: 40px 0;

         .number {
            font-weight: 700;
            color: $blue80;
            margin-bottom: 8px;
         }

         .activity {
            color: $grey-blue80;
         }
      }
   }

   .recent-vacancies {
      margin: 0 0 100px 40px;

      .title-block {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-right: 40px;
         margin-bottom: 24px;

         .new-jobs {
            h5 {
               margin-bottom: 8px;
            }

            .works {
               font-size: 18px;
               line-height: 1.56;
               color: $secondary-color;
            }
         }

         .btn {
            height: 62px;
            padding: 16px 53px 16px 62px;
            display: flex;
            align-items: center;

            i {
               font-size: 26px;
               line-height: 1;
               margin-right: 16px;
            }
         }
      }

      .vacancy-slider {
         .swiper {
            width: 100%;

            .swiper-wrapper {
               margin-bottom: 24px;
            }

            .swiper-slide {
               width: 332px;
               height: 500px;
               background-color: $grey-blue20;
               border-radius: 40px;
               display: flex;
               flex-direction: column;
               padding: 12px;

               .job-title {
                  background-color: #fff;
                  border-radius: 32px;
                  display: flex;
                  flex-direction: column;
                  gap: 16px;
                  padding: 16px;
                  margin-bottom: 16px;

                  .position {
                     max-height: 20px;
                     font-size: 16px;
                     font-weight: 600;
                  }

                  .job-details {
                     max-height: 20px;
                     display: flex;
                     justify-content: space-between;
                     gap: 10px;

                     .items {
                        display: flex;
                        align-items: center;

                        img {
                           width: 16px;
                           margin-right: 4px;
                        }

                        .item,
                        p {
                           font-size: 14px;
                           line-height: 1.43;
                           color: $secondary-color;
                        }

                        p {
                           font-size: 18px;
                           line-height: 1.12;
                        }
                     }
                  }

                  .match {
                     width: 94px;
                     font-size: 14px;
                     line-height: 1.43;
                     color: $secondary-color;
                     text-align: center;
                     border: 0.5px solid $blue70;
                     border-radius: 28px;
                     padding: 3px 0;
                  }
               }

               .characteristic-name {
                  padding: 0 16px;
                  margin-bottom: 16px;

                  .title {
                     font-size: 14px;
                     font-weight: 600;
                     line-height: 1.43;
                     color: $grey-blue80;
                     margin-bottom: 6px;
                  }
               }

               .format,
               .required-skills-item,
               .description {
                  font-size: 14px;
                  line-height: 1.43;
                  color: $secondary-color;
               }

               .required-skills {
                  .required-skills-list {
                     .required-skills-item {
                        display: flex;
                        margin-bottom: 6px;

                        &:last-child {
                           margin-bottom: 0;
                        }

                        img {
                           width: 4px;
                           margin-right: 8px;
                        }
                     }
                  }
               }

               .job-description {
                  .description {
                     word-break: break-word;
                     /* переносить довгі слова - для Safari */
                     overflow-wrap: break-word;
                     /* сучасний аналог для довгих слів */
                     max-height: 86px;
                     overflow-y: auto;

                     &::-webkit-scrollbar {
                        width: 8px;
                        background: #fff;
                     }

                     &::-webkit-scrollbar-thumb {
                        background: $blue70;
                        border-radius: 3px;
                     }
                  }
               }

               .btns {
                  text-align: center;
                  padding-bottom: 4px;
                  margin-top: auto;

                  .btn {
                     font-size: 14px;
                     line-height: 1.43;
                     padding: 10px 23.5px;

                     &.btn-secondary {
                        background-color: #fff;
                        padding: 10px 28px;
                        margin-right: 40px;
                     }
                  }
               }
            }
         }

         &-navigation {
            height: 30px;

            .swiper-button-prev,
            .swiper-button-next {
               top: 570px;
               width: 30px;
               height: 30px;
               background-color: $grey-blue30;

               &::after {
                  display: none;
               }
            }

            .swiper-button-prev {
               left: 40%;
            }

            .swiper-button-next {
               right: 40%;
            }
         }
      }
   }

   .feedback {
      margin-bottom: 76px;
      text-align: center;

      p {
         font-size: 20px;
         font-weight: 600;
         margin-bottom: 8px;
      }

      label {
         font-size: 14px;
         line-height: 1.43;
         color: $secondary-color;
         display: block;
         margin-bottom: 24px;
      }

      textarea {
         width: 376px;
         height: 159px;
         font-size: 16px;
         border-radius: 20px 20px 10px 20px;
         padding: 16px;
         margin-bottom: 24px;
         resize: vertical;

         &::placeholder {
            font-size: 16px;
            color: $grey-blue60;
         }

         &:hover {
            border: 1px solid $blue70;
         }

         &:active,
         &:focus {
            border: 2px solid $blue70;
         }
      }

      .btn {
         padding: 16px 74px;
      }
   }
}