@use 'variables' as *;

.modal-add-vacation {
   display: none;
   position: fixed;
   z-index: 2;
   inset: 0;
   background: rgba(0, 0, 0, 0.5);

   .modal-content {
      width: 90%;
      background-color: #fff;
      max-width: 800px;
      margin: 10px auto;
      padding: 24px 32px;
      border-radius: 60px;
      position: relative;

      .modal-close {
         position: absolute;
         top: 24px;
         right: 32px;
         background: none;
         border: none;
         font-size: 31px;
         cursor: pointer;
         padding: 0 10px 6px;
   
         &:hover {
            background-color: $grey-blue30;
            border-radius: 22px;
         }

         img {
            width: 24px;
         }
      }

      h5 {
         text-align: center;
         margin-bottom: 10px;
      }

      .small-text {
         text-align: center;
         margin-bottom: 30px;
      }

      form {
         width: 100%;

         .field {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            .format-buttons {
               width: 500px;
               display: flex;
               justify-content: space-between;

               button {
                  width: 150px;
                  font-size: 20px;
                  background-color: transparent;
                  border-radius: 20px;
                  border: none;
                  outline: 0.5px solid #8E99AB;
                  padding: 13px;

                  &.active {
                     background-color: $blue20;
                     // outline: 0.5px solid $blue70;
                  }

                  &:hover {
                     outline: 1px solid $blue70;
                  }
               }
            }

            .field-row {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-between;

               .skills-list {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
               }
            }

            label,
            legend {
               max-width: 202px;
               font-size: 20px;
               line-height: 1.5;
               font-weight: 600;
               color: $grey-blue90;
               margin: 0;
            }
   
            input,
            textarea {
               width: 500px;
               font-size: 20px;
               line-height: 1.5;
               color: $grey-blue90;
               border-radius: 20px;
               outline: 0.5px solid $grey-blue60;
               border: none;
               padding: 10px 20px;
               resize: none;

               &:hover {
                  outline: 1px solid $blue70;
               }
   
               &:focus {
                  outline: 2px solid $blue70;
               }
            }
            
            textarea {
               min-height: 80px;
            }
         }

         .btn {
            display: block;
            padding: 13px 124px;
            margin: 0 auto;
         }
      }
   }
}