@use 'variables' as *;

.profile {
   .title-block {
      margin: 0 40px 58px;

      h5 {
         margin-bottom: 12px;
      }
   }

   .section {
      position: relative;
      outline: 0.5px solid $grey-blue40;
      border-radius: 20px;
      padding: 24px;
      margin: 0 40px 16px;

      &.editing {
         outline: 2px solid $blue70;
      }

      .edit-btn {
         position: absolute;
         top: 24px;
         right: 24px;
         width: 50px;
         height: 50px;
         background-color: #fff;
         border: none;
         border-radius: 25px;
         display: block;
         padding: 2px 7px;

         &:hover {
            background-color: $grey-blue20;
         }
      }

      .title {
         font-size: 24px;
         font-weight: 500;
         line-height: 1.33;
         margin-bottom: 38px;
      }
   }

   .basic-client-data {
      .personal-data {
         flex-direction: column;
         gap: 40px;
         margin-bottom: 40px;

         .fpi {
            display: flex;
            gap: 40px;
         }

         .foto {
            text-align: center;

            .picture {
               width: 150px;
               height: 150px;
               background-color: $grey-blue30;
               border-radius: 75px;
               display: flex;
               align-items: center;
               justify-content: center;
               margin-bottom: 16px;

               img {
                  width: 100px;
               }
            }

            p {
               font-size: 18px;
               line-height: 1.56;
               color: $grey-blue90;
            }
         }

         .personal-information {
            padding-top: 10px;

            .sername {
               font-size: 24px;
               font-weight: 500;
               line-height: 1.33;
               margin-bottom: 15px;
            }

            .profession,
            .location {
               font-size: 18px;
               line-height: 1.56;
               color: $secondary-color;
               margin-bottom: 4px;
            }

            .filling-profile {
               display: flex;
               align-items: center;
               margin-top: 12px;

               .p {
                  font-size: 20px;
                  color: $grey-blue90;
                  margin-right: 16px;
               }

               .procent-filling {
                  width: 50px;
                  height: 50px;
                  font-size: 18px;
                  text-align: center;
                  color: $grey-blue90;
                  border: 1px solid $blue70;
                  border-radius: 25px;
                  padding-top: 11px;
               }
            }
         }
      }

      .resume {
         display: flex;

         .upload-resume {
            font-size: 20px;
            font-weight: 500;
            margin-right: 10px;
            
            &:hover {
               color: $blue80;
            }
            
            a {
               color: $grey-blue90;

               &:hover {
                  font-weight: 600;
                  color: $blue70;
               }
            }
         }

         #resumeFile {
            display: none;
         }

         .download {
            padding: 0 6px;
            border: none;
            background-color: transparent;

            &:hover {
               background-color: $grey-blue20;
               border-radius: 18px;
            }

            img {
               width: 24px;
            }
         }

         #resumeStatus {
            margin-left: 6px;
         }
      }
   }

   .wish-to-vacancy {
      .job-details {
         display: flex;
         flex-wrap: wrap;
         gap: 24px;

         .job-details-title {
            font-size: 20px;
            margin: 0 0 16px 5px;
         }

         .job-details-choices {
            display: flex;
            gap: 12px;

            .job-details-choice {
               min-width: 100px;
               min-height: 60px;
               display: inline-block;
               font-size: 18px;
               line-height: 1.56;
               color: $secondary-color;
               outline: 1px solid $grey-blue40;
               border-radius: 30px;
               padding: 16px;

               img {
                  width: 24px;
                  margin-right: 8px;
               }
            }
         }
      }
   }

   .account-settings {
      .account-settings-list {
         display: flex;
         justify-content: space-between;
         gap: 8px;

         .account-setting-title {
            font-size: 20px;
            margin: 0 0 16px 5px;
         }

         .account-setting-choice {
            font-size: 18px;
            line-height: 1.56;
            color: $secondary-color;
            text-align: center;
            outline: 1px solid $grey-blue40;
            border-radius: 30px;
            padding: 16px 40px;
         }
      }
   }

   .edit-form {
      display: none;

      &.active {
         display: block;

         .form-group {
            margin-bottom: 16px;
         }

         .job-details-choices {
            display: flex;
            align-items: center;
            gap: 12px;
         }

         label {
            font-size: 20px;
            display: inline-block;
            margin-right: 8px;
         }

         input {
            width: 600px;
            font-size: 18px;
            line-height: 1.56;
            color: $secondary-color;
            outline: 1px solid $grey-blue40;
            border: none;
            box-shadow: none;
            border-radius: 25px;
            padding: 11px 16px;

            &:focus {
               border: none;
               box-shadow: none;
               outline: 2px solid $blue70;
            }
         }

         .btns {
            display: flex;
            justify-content: center;
            padding-top: 16px;

            .btn {
               width: 150px;
               padding: 10px;
               margin: 0 16px;
            }
         }
      }
   }

   #logoutBtn {
      display: block;
      padding: 16px 78px;
      margin: 56px auto 100px;
   }
}

.modal-logout {
   display: none;
   /* схована за замовчуванням */
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: flex-start;

   .modal-content {
      width: 100%;
      max-width: 783px;
      font-size: 30px;
      font-weight: 500;
      line-height: 1.27;
      text-align: center;
      background: #fff;
      border-radius: 40px;
      padding: 24px;
      margin-top: 28vh;

      h5 {
         margin: 28px 0 40px;
      }

      .modal-actions {
         display: flex;
         justify-content: center;
         gap: 24px;
         margin-bottom: 28px;

         .btn {
            width: 191px;
            height: 56px;
         }
      }
   }
}