@use 'variables' as *;

.profile {
   .title-block {
      margin: 0 40px 58px;

      h5 {
         margin-bottom: 12px;
      }
   }

   .section {
      position: relative;
      outline: 0.5px solid $grey-blue40;
      border-radius: 20px;
      padding: 24px;
      margin: 0 40px 16px;

      .edit-btn {
         position: absolute;
         top: 24px;
         right: 24px;
         width: 50px;
         height: 50px;
         background-color: #fff;
         border: none;
         border-radius: 25px;
         display: block;
         padding: 2px 7px;

         &:hover {
            background-color: $grey-blue20;
         }
      }

      .title {
         font-size: 24px;
         line-height: 1.33;
         margin-bottom: 38px;
      }   
   }

   .basic-data {
      .personal-data {
         width: 100%;
         height: 194px;
         display: flex;
         gap: 40px;
         margin-bottom: 40px;

         .foto {
            text-align: center;

            .picture {
               width: 150px;
               height: 150px;
               background-color: $grey-blue30;
               border-radius: 75px;
               display: flex;
               align-items: center;
               justify-content: center;
               margin-bottom: 16px;

               img {
                  width: 100px;
               }
            }

            p {
               font-size: 18px;
               line-height: 1.56;
               color: $grey-blue90;
            }
         }

         .personal-information {
            padding-top: 10px;

            .sername {
               font-size: 24px;
               font-weight: 500;
               line-height: 1.33;
               margin-bottom: 15px;
            }

            .profession,
            .location {
               font-size: 18px;
               line-height: 1.56;
               color: $secondary-color;
               margin-bottom: 4px;
            }

            .filling-profile {
               display: flex;
               align-items: center;
               margin-top: 12px;

               .p {
                  font-size: 20px;
                  color: $grey-blue90;
                  margin-right: 16px;
               }

               .procent-filling {
                  width: 50px;
                  height: 50px;
                  font-size: 18px;
                  text-align: center;
                  color: $grey-blue90;
                  border: 1px solid $blue70;
                  border-radius: 25px;
                  padding-top: 11px;
               }
            }
         }
      }

      .resume {
         display: flex;
         align-items: center;

         .upload-resume {
            font-size: 20px;
            font-weight: 500;
            margin-right: 16px;
         }

         img {
            width: 24px;
         }
      }
   }

   .wish-to-vacancy {
      .job-details {
         display: flex;
         flex-wrap: wrap;
         gap: 24px;

         .job-details-name {
            .job-details-title {
               font-size: 20px;
               margin-bottom: 16px;
            }

            .job-details-choices {
               display: flex;
               gap: 12px;

               .job-details-choice {
                  display: inline-block;
                  font-size: 18px;
                  line-height: 1.56;
                  color: $secondary-color;
                  outline: 1px solid $grey-blue40;
                  border-radius: 30px;
                  padding: 16px;

                  img {
                     width: 24px;
                     margin-right: 8px;
                  }
               }
            }
         }
      }
   }

   .account-settings {
      .account-settings-list {
         display: flex;
         justify-content: space-between;

         .account-setting {
            width: 260px;
            font-size: 18px;
            line-height: 1.56;
            color: $secondary-color;
            text-align: center;
            outline: 1px solid $grey-blue40;
            border-radius: 30px;
            padding: 16px;
         }
      }
   }

   .btn {
      width: 325px;
      height: 62px;
      display: block;
      margin: 56px auto 100px;
   }
}