@use 'variables' as *;

.vacansy {
   .title-block {
      margin: 20px 40px 40px;

      .title {
         margin-bottom: 16px;
      }

      .small-text {
         margin-bottom: 40px;
      }

      .vacancy-today {
         width: 100%;
         font-size: 20px;
         line-height: 1.5;
         color: $grey-blue90;
         background-color: $blue20;
         border: none;
         border-radius: 39px;
         padding: 24px;
   
         &::placeholder {
            font-size: 20px;
            line-height: 1.5;
            color: $grey-blue60;
         }
      }
   }

   .vacancies {
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
      margin: 0 40px 106px;

      .swiper-slide {
         width: 437px;
         background-color: $grey-blue20;
         border-radius: 40px;
         padding: 12px 24px 24px;

         .job-title {
            background-color: #fff;
            border-radius: 32px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 23px 24px;
            margin-bottom: 16px;
            
            .position {
               font-size: 16px;
               font-weight: 600;
            }

            .job-details {
               display: flex;
               gap: 25px;

               .items {
                  display: flex;
                  align-items: center;

                  img {
                     width: 16px;
                     margin-right: 4px;
                  }

                  .item {
                     font-size: 14px;
                     line-height: 1.43;
                     color: $secondary-color;
                  }
               }
            }

            .match {
               width: 96px;
               height: 28px;
               font-size: 14px;
               line-height: 1.43;
               color: $secondary-color;
               text-align: center;
               border: 0.5px solid $blue70;
               border-radius: 28px;
               padding: 3px 8px;
            }
         }

         .required-skills {
            padding: 0 24px;
            margin-bottom: 16px;

            .title {
               font-size: 14px;
               font-weight: 600;
               line-height: 1.43;
               color: $grey-blue80;
               margin-bottom: 12px;
            }

            .required-skills-list {
               .required-skills-item {
                  font-size: 14px;
                  line-height: 1.43;
                  color: $secondary-color;
                  display: flex;
                  margin-bottom: 8px;

                  img {
                     width: 4px;
                     margin-right: 8px;
                  }
               }
            }
         }

         .btns {
            text-align: center;

            .btn {
               font-size: 14px;
               line-height: 1.43;
               padding: 10px 23px;

               &.btn-secondary {
                  background-color: #fff;
                  padding: 9px 19px;
                  margin-right: 40px;
               }
            }
         }
      }
   }
}