///fonts///
$font-primary: 'Montserrat';
$font-secondary:  'monospace';

///colors///
$primary-color: #333840; //grey-blue100
$secondary-color: #707A8A; // grey-blue70
$grey-blue80: #58606E;
$grey-blue60: #8E99AB;
$grey-blue30: #DDE3ED;
$blue80: #114599;
$blue70: #1D5BBF;
$blue20: #F0F5FC;
$red: #DE1B1B;
