///fonts///
$font-primary: 'Montserrat';
$font-secondary:  'monospace';

///colors///
$primary-color: #333840;
$secondary-color: #707A8A;
// $grey-blue50: #434A54;
$grey-blue30: #DDE3ED;
// $grey-blue20: #EBEFF5;
$blue80: #114599;
