<div class="swiper-slide">
   <div class="job-title">
      <div class="position">Frontend Developer</div>
      <div class="job-details">
         <div class="items">
            <img src="assets/img/building.svg" alt="icon">
            <div class="item company-name">TechCorp</div>
         </div>
         <div class="items">
            <img src="assets/img/location.svg" alt="location">
            <div class="item location">Київ</div>
         </div>
         <div class="items">
            <img src="assets/img/pig.svg" alt="pig">
            <div class="item salary">$2000</div>
         </div>
      </div>
      <div class="match">85% match</div>
   </div>
   <div class="characteristic-name work-format">
      <div class="title">Формат роботи:</div>
      <div class="format">Онлайн</div>
   </div>
   <div class="characteristic-name required-skills">
      <div class="title">Необхідні навички:</div>
      <div class="required-skills-list">
         <div class="required-skills-item">
            <img src="assets/img/ellipse-grey.svg" alt="item">
            <div>DOM, CSS, HTML, NextJS</div>
         </div>
         <div class="required-skills-item">
            <img src="assets/img/ellipse-grey.svg" alt="item">
            <div>СSS framework</div>
         </div>
         <div class="required-skills-item">
            <img src="assets/img/ellipse-grey.svg" alt="item">
            <div>Javascript framework</div>
         </div>
      </div>
   </div>
   <div class="characteristic-name job-description">
      <div class="title">Опис вакансії:</div>
      <div class="descripion">Досвід роботи від 2-х років; Кар'єрні перспективи
      </div>
   </div>
   <div class="btns">
      <button class="btn btn-secondary" href="#">Скасувати</button>
      <button class="btn btn-primary" href="#">Зберегти</button>
   </div>
</div>