<footer>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script type="module" src="assets/js/main-page.js"></script>
<script type="module" src="assets/js/tracker.js"></script>
<script type="module" src="assets/js/registration.js"></script>
<script type="module" src="assets/js/login.js"></script>
<script type="module" src="assets/js/modal-recovery-password.js"></script>
<script type="module" src="assets/js/profile.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>