header {
	.container {
      .logo {
         margin: 0 auto;
      }

		.header-nav {
         border-radius: 40px;
			gap: 20px;
			padding: 8px 12px;
			margin: 0 auto;
		}

		.pages {
			gap: 20px;
      }
   }
}